.my-auto {
    margin: auto auto;
}

body {
    display: flex;
    align-items: center;
    background-color:#343a40 !important;
    font: 100% sans-serif !important;
}

body, html {
    height: 100%;
}

tr, th {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

th {
    text-align: center !important;
    vertical-align: middle !important;
}

footer {
    text-align: center;
    margin-bottom: 1em;
    font-size: larger;
}

a {
    color: #3d6dbe;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #6594e0;
}

.subject {
    text-align: center !important;
    vertical-align: top !important;
    font-family: Verdana, serif;
    font-weight: bold;
    word-wrap: break-word;
}

.lecturer {
    text-align: center !important;
    vertical-align: middle !important;
    font-family: Georgia, sans-serif;
    font-size: smaller;
    word-wrap: break-spaces;
}

.type {
    float: left;
    text-align: left !important;
    vertical-align: bottom !important;
    font-family: Kinnariri, cursive;
    font-style: italic;
    font-size: smaller;
    word-wrap: break-word;
}
.room {
    text-align: right !important;
    vertical-align: bottom !important;
    font-family: Consolas, monospace;
    word-wrap: normal;
    text-indent: 10%;
}
