body {
    background-color: #0f1110 !important;
}
map {
    display: inline-block;
}

.map {
    text-align: center;
    transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    -webkit-transform: scale(0.75, 0.75);
    -o-transform: scale(0.75, 0.75);
    -moz-transform: scale(0.75, 0.75);
}