.menu {
    margin: 10px
}
.dot {
    background-color: #ff3333;
    border-radius: 50%;
    display: inline-block;
    line-height: 30px;
    width: 30px;
    font-size: 15px;
    font-weight: bolder;
    color: black;
    text-align: center;
}

/*.dot:hover {
    background-color: #ffcc00;
    !*height: 33px;
    width: 33px;*!
}*/

.green {
    background-color: #00cc33;
}